<!DOCTYPE html>
<html>
<head>
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script src="static/js/application.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


  <style>




  .flex-container {
    display: flex;
    flex-direction: row;
  }
  .title
  {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-align: center;
    width:7000px;
    color:#fff;
  }
  button {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    font-size: 30px;
    color: #FFF;
    background-color: #008CBA;
  }

  #wrapper {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  table, th, td {
    max-width:100%;
    white-space:nowrap;
    width: auto !important;
    text-align:center;
    font-size: 18px;
  }


  </style>


</head>
<body style="background-color:white">
  <div>


    <div class="jumbotron jumbotron-fluid" style="background-color:#5dbcd2" width=100%>
      <div class="container" style="color:#5dbcd2">
        <h1 class="display" style="text-align:center; color:#fff">GroupMe.FYI - {{ group_name }}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-1"></div>

      <div class="col">
        <div class="well">
          <center>
            <u><h4>Total Participants</h4></u>
            <h2>{{ group_stats.num_participants}}</h2>
          </center>
        </div>
      </div>
      <div class="col">
        <div class="well">
          <center>
            <u><h4>Total Comments</h4></u>
            <h2>{{ group_stats.total_comments}}</h2>
          </center>
        </div>
      </div>

      <div class="col">
        <div class="well">
          <center>
            <u><h4>Total Likes</h4></u>
            <h2>{{ group_stats.total_likes}}</h2>
          </center>
        </div>
      </div>
      <div class="col">
        <div class="well">
          <center>
            <u><h4>Average Likes/Message</h4></u>
            <b><h2>{{  "%.2f"|format(group_stats.avg_likes_per_msg)}}</h2></b>
          </center>
        </div>
      </div>
      <div class="col-1"></div>
    </div>

    <div class="row">
      <div class="col-1"></div>
      <div class="col">
        <div class="well">
          <center>
            <u><h3>Chattiest Member</h3></u>
            <img src={{superlative_members.chattiest_user.url}} width = 200px></a>
            <center>
              <h3>{{ superlative_members.chattiest_user.nickname }} with {{ superlative_members.chattiest_user.num_comments}} comments</h3>
            </center>
          </div>
        </div>
        <div class="col">
          <div class="well">
            <center>
              <u><h3>Best Ratio</h3></u>
              <img src={{superlative_members.best_ratio_user.url}} width = 200px></a>
              <center>
                <h3>{{ superlative_members.best_ratio_user.nickname }} with an average of {{ "%.2f"|format(superlative_members.best_ratio_user.ratio)}} likes/comment</h3>
              </center>
            </div>
          </div>
          <div class="col-1"></div>
        </div>

        <div class="row">
          <div class="col-1"></div>
          <div class="col">
            <div class="well">
              <center>
                <u><h3>Most Likes Received</h3></u>
                <img src={{superlative_members.most_liked_user.url}} width = 200px></a>
                <center>
                  <h3>{{ superlative_members.most_liked_user.nickname }} with {{ superlative_members.most_liked_user.num_likes}} likes received</h3>
                </center>
              </div>
            </div>
            <div class="col">
              <div class="well">
                <center>
                  <u><h3>Most Likes Given</h3></u>
                  <img src={{superlative_members.most_likes_given_user.url}} width = 200px></a>
                  <center>
                    <h3>{{ superlative_members.most_likes_given_user.nickname }} with {{ superlative_members.most_likes_given_user.likes_given }} likes given</h3>
                  </center>
                </div>
              </div>
              <div class="col-1"></div>
            </div>

            <div class="row">
              <div class="col-1"></div>
              <div class="col">
                <div class="well">
                  <center>
                    <u><h3>Most Times Mentioned</h3></u>
                    <img src={{superlative_members.most_mentioned_user.url}} width = 200px></a>

                    <center>
                      {% if (superlative_members.most_mentioned_user.times_mentioned == 1)%}
                      <h3>{{ superlative_members.most_mentioned_user.nickname  }} with {{ superlative_members.most_mentioned_user.times_mentioned }} mention</h3>
                      {% elif (superlative_members.most_mentioned_user.times_mentioned == 0)%}
                      <h3>No mentions!</h3>
                      {% else %}
                      <h3>{{ superlative_members.most_mentioned_user.nickname }} with {{ superlative_members.most_mentioned_user.times_mentioned}} mentions</h3>
                      {% endif %}
                    </center>
                  </div>
                </div>
                <div class="col">
                  <div class="well">
                    <center>
                      <u><h3>Most Self Likes</h3></u>
                      <img src={{superlative_members.most_self_likes_user.url}} width = 200px></a>

                      <center>
                        {% if (superlative_members.most_self_likes_user.self_likes == 1)%}
                        <h3>{{ superlative_members.most_self_likes_user.nickname }} with {{ superlative_members.most_self_likes_user.self_likes }} self like</h3>
                        {% elif (superlative_members.most_self_likes_user.self_likes == 0)%}
                        <h3>No self likes!</h3>
                        {% else %}
                        <h3>{{ superlative_members.most_self_likes_user.nickname }} with {{ superlative_members.most_self_likes_user.self_likes }} self likes</h3>
                        {% endif %}
                      </center>
                    </div>
                  </div>
                  <div class="col-1"></div>
                </div>

                <div class="row">
                  <div class="col-1"></div>
                  <div class="col">
                    <div class="well">
                      <u><h3>Most Liked Message</h3></u>
                      {% if (best_msg_attchmnt == 1 and best_msg.message == None)%}
                      <h3><div> - {{ best_msg.messager }}</div></h3>
                      <center><img src= {{ best_msg.attachments[0].url }}  width=50%><center>
                        {% elif (best_msg_attchmnt == 1 and best_msg.message != None)%}
                        <h3><div>{{ best_msg.message }} </div></h3>
                        <h3><div> - {{ best_msg.messager }} </div></h3>
                        <center><img src= {{ best_msg.attachments[0].url }}  width=50%><center>
                          {% elif (best_msg_attchmnt == 2)%}
                          <h3><div> - {{ best_msg.messager }} </div></h3>
                          <center>
                            <video autoplay>
                              <source src= {{ best_msg.attachments[0].url }}  type="video/mp4">
                              </video>
                              <center>
                                {% else %}
                                <h3><div>{{ best_msg.message }} </div></h3>
                                <h3><div> - {{ best_msg.messager }} </div></h3>
                                {% endif %}
                              </div>
                            </div>
                            <div class="col-1"></div>
                          </div>

                          <center><img src= {{ plot_url }} width =70%><center>



                            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


                          </div>

                        </body>
                        </html>
