<!DOCTYPE html>
<html>
<head>
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script src="static/js/application.js"></script>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


  <style>


  .group-img {
    object-fit: cover;
    width: 280px;
    height: 280px;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
  }
  .title
  {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-align: center;
    width:7000px;
    color:#fff;
  }
  button {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    font-size: 30px;
    color: #FFF;
    background-color: #008CBA;
  }

  #wrapper {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  table, th, td {
    max-width:100%;
    white-space:nowrap;
    width: auto !important;
    text-align:center;
    font-size: 18px;
  }

  .group-row {
    display: flex; /* equal height of the children */
    flex-wrap: wrap;
  }

  </style>


</head>
<body style="background-color:white">
  <div>


    <div class="jumbotron jumbotron-fluid" style="background-color:#5dbcd2" width=100%>
      <div class="container" style="color:#5dbcd2">
        <h1 class="display" style="text-align:center; color:#fff">GroupMe.FYI - {{ group_name }}</h1>
      </div>
    </div>

    <div class="group-row">
      <div class="col-xs-6 col-sm-6 col-lg-3">
        <div class="well">
          <center>
            <u><h4>Total Participants</h4></u>
            <h2>{{ group_stats.num_participants}}</h2>
          </center>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-lg-3">
        <div class="well">
          <center>
            <u><h4>Total Comments</h4></u>
            <h2>{{ group_stats.total_comments | numberFormat}}</h2>
          </center>
        </div>
      </div>

      <div class="col-xs-6 col-sm-6 col-lg-3">
        <div class="well">
          <center>
            <u><h4>Total Likes</h4></u>
            <h2>{{ group_stats.total_likes | numberFormat}}</h2>
          </center>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-lg-3">
        <div class="well">
          <center>
            <u><h4>Average Likes/Message</h4></u>
            <b><h2>{{  "%.2f"|format(group_stats.avg_likes_per_msg)}}</h2></b>
          </center>
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Team Member 1 -->
      <div class = "group-row">
        <div class="col-xs-12 col-s-12 col-md-6 col-lg-4">
          <div class="card border-0 shadow">
            <center>
              <img class="group-img" src={{superlative_members.chattiest_user.url}}  alt="...">
            </center>
            <div class="card-body text-center">
              <h4 class="card-title mb-0">Chattiest Member</h4>
              <div class="card-text text-black-50">{{ superlative_members.chattiest_user.nickname }} with {{ superlative_members.chattiest_user.num_comments | numberFormat }} comments</div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-s-12 col-md-6 col-lg-4">
          <div class="card border-0 shadow">
            <center>
              <img class="group-img" src={{superlative_members.best_ratio_user.url}} alt="...">
            </center>
            <div class="card-body text-center">
              <h4 class="card-title mb-0">Best Ratio</h4>
              <div class="card-text text-black-50">{{ superlative_members.best_ratio_user.nickname }} with an average of {{ "%.2f"|format(superlative_members.best_ratio_user.ratio)}} likes/comment</div>
            </div>
          </div>
        </div>


        <!-- Team Member 1 -->
        <div class="col-xs-12 col-s-12 col-md-6 col-lg-4">
          <div class="card border-0 shadow">
            <center>
              <img class="group-img" src={{superlative_members.most_liked_user.url}}  alt="...">
            </center>
            <div class="card-body text-center">
              <h4 class="card-title mb-0">Most Likes Received</h4>
              <div class="card-text text-black-50">{{ superlative_members.most_liked_user.nickname }} with {{ superlative_members.most_liked_user.num_likes | numberFormat }} likes received</div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-s-12 col-md-6 col-lg-4">
          <div class="card border-0 shadow">
            <center>
              <img class="group-img" src={{superlative_members.most_likes_given_user.url}} alt="...">
            </center>
            <div class="card-body text-center">
              <h4 class="card-title mb-0">Most Likes Given</h4>
              <div class="card-text text-black-50">{{ superlative_members.most_likes_given_user.nickname }} with {{ superlative_members.most_likes_given_user.likes_given }} likes given</div>
            </div>
          </div>
        </div>

        <!-- Team Member 1 -->
        <div class="col-xs-12 col-s-12 col-md-6 col-lg-4">
          <div class="card border-0 shadow">
            <center>
              {% if (superlative_members.most_mentioned_user.times_mentioned == 0)%}
              {% else %}
              <img class="group-img" src={{superlative_members.most_mentioned_user.url}}></a>
              {% endif %}
            </center>
            <div class="card-body text-center">
              <h4 class="card-title mb-0">Most Times Mentioned</h4>
              {% if (superlative_members.most_mentioned_user.times_mentioned == 1)%}
              <div class="card-text text-black-50">{{ superlative_members.most_mentioned_user.nickname }} with {{ superlative_members.most_mentioned_user.times_mentioned }} mention</div>
              {% elif (superlative_members.most_mentioned_user.times_mentioned == 0)%}
              <div class="card-text text-black-50">No mentions!</div>
              {% else %}
              <div class="card-text text-black-50">{{ superlative_members.most_mentioned_user.nickname }} with {{ superlative_members.most_mentioned_user.times_mentioned }} mentions</div>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-s-12 col-md-6 col-lg-4">
          <div class="card border-0 shadow">
            <center>
              {% if (superlative_members.most_self_likes_user.self_likes == 0)%}
              {% else %}
              <img class="group-img" src={{superlative_members.most_self_likes_user.url}}></a>
              {% endif %}
            </center>
            <div class="card-body text-center">
              <h4 class="card-title mb-0">Most Self Likes</h4>
              {% if (superlative_members.most_self_likes_user.self_likes == 1)%}
              <div class="card-text text-black-50">{{ superlative_members.most_self_likes_user.nickname }} with {{ superlative_members.most_self_likes_user.self_likes }} self like</div>
              {% elif (superlative_members.most_self_likes_user.self_likes == 0)%}
              <div class="card-text text-black-50">No self likes!</div>
              {% else %}
              <div class="card-text text-black-50">{{ superlative_members.most_self_likes_user.nickname }} with {{ superlative_members.most_self_likes_user.self_likes }} self likes</div>
              {% endif %}
            </div>
          </div>
        </div>



      </div>
    </div>



    <div class="row">
      <div class="col-1"></div>
      <div class="col">
        <div class="well">
          <u><h3>Most Liked Message</h3></u>
          {% if (best_msg_attchmnt == 1 and best_msg.message == None)%}
          <h3><div> - {{ best_msg.messager }}</div></h3>
          <center><img src= {{ best_msg.attachments[0].url }}  width=50%><center>
            {% elif (best_msg_attchmnt == 1 and best_msg.message != None)%}
            <h3><div>{{ best_msg.message }} </div></h3>
            <h3><div> - {{ best_msg.messager }} </div></h3>
            <center><img src= {{ best_msg.attachments[0].url }}  width=50%><center>
              {% elif (best_msg_attchmnt == 2)%}
              <h3><div> - {{ best_msg.messager }} </div></h3>
              <center>
                <video autoplay  width=75%>
                  <source src= {{ best_msg.attachments[0].url }}  type="video/mp4">
                  </video>
                  <center>
                    {% else %}
                    <h3><div>{{ best_msg.message }} </div></h3>
                    <h3><div> - {{ best_msg.messager }} </div></h3>
                    {% endif %}
                  </div>
                </div>
                <div class="col-1"></div>
              </div>

              <center><img src= {{ plot_url }} width =70%><center>



                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


              </div>

            </body>
            </html>
