asgiref==3.2.7
Babel==2.8.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
cycler==0.10.0
DateTime==4.3
dnspython==1.16.0
Flask==1.1.1
Flask-SocketIO==4.2.1
GroupyAPI==0.10.3
idna==2.7
itsdangerous==1.1.0
Jinja2==2.11.1
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
monotonic==1.5
numpy==1.18.3
pandas==1.0.3
pandas-compat==0.1.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-engineio==3.11.2
python-socketio==4.4.0
pytz==2019.3
requests==2.20.1
scipy==1.4.1
seaborn==0.10.1
six==1.14.0
spotipy==2.9.0
sqlparse==0.3.1
urllib3==1.24.3
Werkzeug==1.0.0
zope.interface==5.1.0
